image: alpine:latest

before_script:
    - "wget https://get.helm.sh/helm-v3.5.4-linux-amd64.tar.gz"
    - "tar -xzf helm-v3.5.4-linux-amd64.tar.gz"
    - "mv linux-amd64/helm /usr/local/bin/helm"
    - "helm version" 

lint:
    script:
        - "helm lint vsftpd/"

test:
    script:
        - "helm template vsftpd/"